body {
  background-color: lightblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 1000px;
  background-color: red;
}

.hours:after,
.minutes:after {
  content: ':'
}

.clock {
  text-align: center;
  font-size: 72px;
  font-family: sans-serif;
  padding-top: 100px;
}

hr {
  margin-top: 20px;
  height: 10px;
  background-color: red;
  border: 0;
}
